<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	  <h3 class = "center text-white">Offer</h3>
	</div>
	</nav>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Update Offer</h1>
				<div class="card-body">
					<form th:action="@{/processUpdate/{id} (id=${offer.id})}" th:object="${offer}"
						method="POST">
						<!-- <div class="form-group">
       <label>Company name</label>
       <input type="text"
               name="id"
               th:field="*{id}"
               placeholder="enter your id"/>
     </div> -->

						<div class="form-group">
							<label>Company name</label> <input type="text"
								name="companayName" th:field="*{companayName}" />

						</div>
						<br>

						<div class="form-group">
							<label>Offer Details</label> <input type="text"
								name="offerDetails" th:field="*{offerDetails}" />
						</div>
						<br>
						<div class="form-group">
							<label>Price</label> <input type="text" name="price"
								th:field="*{price}" />
						</div>
						<br>
						<button type="submit" class="btn btn-primary">Submit</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>